.project_details {
	padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
	margin-bottom: .5em;
}

.project_details h1 {
	background-color: #3EC1D5;
	color: #FFF;
	padding: .4em;
}

.project_details span {
	font-weight: bold;
}

.details_container,
.service_form_container {
	border-bottom: solid 1px;
	margin-bottom: 1.2em;
	padding-bottom: 1.2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btn {
  background-color: #65DAF9;
  color: #FFF;
  border-color: #65DAF9;
  border-radius: 30px;
  border: 3px solid;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 60px;
  padding: 15px 20px;
  transition: .5s;
  margin: 10px  80px;
}

.btn:hover {
	background-color: #FFF;
	color: #65DAF9;
}


.project_info {
	width: 100%;
} 