.footer {
	background-color: #65DAF9;
	color: #FFF;
	padding: 3em;
	text-align: center;
}

.social_list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.social_list li {
	margin: 0 1em;
	font-size: 50px;
	margin-bottom: 30px;
	transition: .5s;
}

.social_list li:hover {
	color: #222;
}

.social_list svg {
	font-size: 1.sem;
	cursor: pointer;
}

.copy_right span {
	font-weight: bold;
	color: 	#696969;
	transition: .5s;
}

.copy_right span:hover {
	color: #222;
}

