.btn {
  background-color: #65DAF9;
  color: #FFF;
  border-color: #65DAF9;
  border-radius: 30px;
  border: 3px solid;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 60px;
  padding: 15px 20px;
  transition: .5s;
}

.btn:hover {
	background-color: #FFF;
	color: #65DAF9;
}
